body {
  background-image: url("images/flower.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  border-radius: 3px;

}

.container {
  display: flex;
  flex-flow: column;
}

body {
    color: lightgreen;
}

h1 {
    color: lightgreen;
}



h2 {
  color: orange;
}


h3 {
  color:orange;
}


body {
    word-spacing:3px;
    text-align: center;
}
#button {
  background-color: lightgreen;
  border: none;
  border-radius: 5px;
  color: black;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left:550px;
  margin-right:550px;
  cursor: pointer;

}

img {
  border: 3px solid black;
  border-radius: 20px;
  box-shadow: 10px 10px #f8be2e;
}
